@import be.objectify.deadbolt.java.views.html.{subjectPresent, subjectPresentOr}
@import be.objectify.deadbolt.java.ViewAccessPoint.HANDLERS

<div class="row-fluid" id="template-subjectPresent">
    <div class="span10">
        <h3 class="subsection">subjectPresent</h3>

        <p>This is one of the simplest constraints in Deadbolt.  It simply requires that a user be present (i.e. logged in).</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span3 columnHeader">Unprotected content</div>
    <div class="span5 columnHeader">Specification</div>
    <div class="span2 columnHeader">Result</div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@subjectPresent() {
  This content should be visible
}</pre>
    </div>
    <div class="span2">
@subjectPresent() {
  This content should be visible
}
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should NOT be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@subjectPresent(handler = HANDLERS.apply(security.HandlerKeys.NO_USER.key)) {
  This content should NOT be visible
}</pre>
    </div>
    <div class="span2">
        @subjectPresent(handler = HANDLERS.apply(security.HandlerKeys.NO_USER.key)) {
        This content should NOT be visible
        }
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <pre>This content should be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@subjectPresentOr() {
  This content should be visible
}{Sorry, no access}</pre>
    </div>
    <div class="span2">
        @subjectPresentOr() {
        This content should be visible
        }{Sorry, no access}
    </div>
</div>


<div class="row-fluid">
    <div class="span3">
        <pre>This content should NOT be visible</pre>
    </div>
    <div class="span5">
        <pre>
@@subjectPresentOr(handler = HANDLERS.apply(security.HandlerKeys.NO_USER.key)) {
  This content should be NOT visible
}{Sorry, no access}</pre>
    </div>
    <div class="span2">
        @subjectPresentOr(handler = HANDLERS.apply(security.HandlerKeys.NO_USER.key)) {
        This content should be NOT visible
        }{Sorry, no access}
    </div>
</div>